.cons-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
