<section class="problem-container">
  <h2>Información del problema</h2>

  <form class="problem-form-container" [formGroup]="problemFormGroup()">
    <mat-form-field appearance="outline">
      <mat-label>Problema</mat-label>
      <input matInput placeholder="Describe el problema" formControlName="problem" required />

      @if (hasError('problem')) {
      <mat-error>{{ getErrorsFromField('problem') }}</mat-error>
      }
    </mat-form-field>

    <mat-divider></mat-divider>

    <div class="button-container">
      <button matButton="filled" matStepperNext>Siguiente</button>
    </div>
  </form>
</section>
